body {
    margin : 0;
    font-family: Garamond;
}
.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
}
.header-left {
    float:left;
}
.logo {
    color: white;
    margin-top: 15px;
    margin-left: 5px;
    float:left;
}
  
  /* Style Link header */
.header-right a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 19px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Garamond;

  }
.header-right a:hover {
    background-color: #ddd;
    color: black;
}
.header-right a.active {
    background-color: dodgerblue;
    color: white;
}
.header-right {
    float:right;
    margin-top: 10px;
}

footer {
    background-color: rgba(34, 49, 52, 0.9);
    height: 100px;
    color: white;
    font-family: Garamond;
}
footer ul {
    list-style-type: none;
}
footer .footer-logo {
    float: left;
    line-height: 100px;
    padding-left: 20px;
}
footer .footer-list {
    float: right;
}
footer ul {
    padding-right: 20px;
}
footer ul li {
    padding-right: 5px;
    padding-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}